{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- PageTitle -->
    <section class="page-title">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="heading">Wallet</h3>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><p class="fs-18">/</p></li>
                <li><p class="fs-18">Wallet</p></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End PageTitle -->
  
      <section class="wallet buy-crypto flat-tabs">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-md-12">
              <ul class="menu-tab">
                <li class="active"><h6 class="fs-16">Overview</h6></li>
                <li><h6 class="fs-16">Refer a Friend</h6></li>
                <li><h6 class="fs-16">Logout</h6></li>
              </ul>
            </div>
            <div class="col-xl-9 col-md-12">
              <div class="content-tab">
                <div class="content-inner">
                  <div class="wallet-main">
                    <h4 class="heading">Overview</h4>
  
                    <div class="wallet-body">
                      <div class="left">
                        <p>Total Balance</p>
  
                        <div class="price">
                          <h6>0.79253864</h6>
                          <div class="sale success">BTC</div>
                        </div>
                        <p>$12,068.83</p>
                      </div>
                      <div class="right">
                        <form action="https://themesflat.co/html/rockie/wallet-assets.html">
                          <div class="form-group">
                            <input type="text" placeholder="Search" />
                            <svg
                              width="21"
                              height="21"
                              viewBox="0 0 21 21"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M20 20L15.514 15.506L20 20ZM18 9.5C18 11.7543 17.1045 13.9163 15.5104 15.5104C13.9163 17.1045 11.7543 18 9.5 18C7.24566 18 5.08365 17.1045 3.48959 15.5104C1.89553 13.9163 1 11.7543 1 9.5C1 7.24566 1.89553 5.08365 3.48959 3.48959C5.08365 1.89553 7.24566 1 9.5 1C11.7543 1 13.9163 1.89553 15.5104 3.48959C17.1045 5.08365 18 7.24566 18 9.5V9.5Z"
                                stroke="#B1B5C3"
                                stroke-width="2"
                                stroke-linecap="round"
                              />
                            </svg>
                            <select class="" aria-label="USD">
                              <option selected>USD</option>
                              <option value="1">VND</option>
                              <option value="2">USDT</option>
                              <option value="3">USDC</option>
                            </select>
                          </div>
                          <button type="submit" class="btn-action">
                            Show balance
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
  
                  <div class="coin-list-wallet">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th class="center" scope="col">#</th>
                          <th scope="col"></th>
                          <th scope="col">Coin Name</th>
                          <th scope="col">Current Value</th>
                          <th scope="col">P/L</th>
                          <th scope="col">Current Price</th>
                          <th scope="col">Entry Price</th>
                          <th scope="col">Entry Amt</th>
                          <th scope="col">Entry Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in portfolio.positions %}
                        <tr>
                            <td>
                                <button type="button" class="btn btn-link btn-sm m-0 p-0" data-bs-toggle="modal" data-bs-target="#modal{{ row.dbID }}">
                                    <i class="bi bi-trash text-light"></i>
                                </button>
                                <!-- MODAL -->
                                {% include 'portfolio/includes/modal-delete.html' %}
                            </td>
                            <th scope="row" class="row-index"></th>   
                            <td>
                                {% if row.current_value > row.entry_amount %}
                                    <i class="bi bi-caret-up" style="color: lightgreen;"></i>
                                {% elif row.current_value < row.entry_amount %} 
                                    <i class="bi bi-caret-down" style="color: red;"></i>
                                {% else %}
                                    <i class="bi bi-dash-square" style="color: white"></i>
                                {% endif %}
                            </td>
                            <td style="font-weight: 500;">{{ row.coin_id }} ({{ row.symbol }})</td>
                            <td>${{ row.current_value }}</td>
                            <td>{{ row.pl }} {{ row.pl_percent }}%</td>
                            <td>{{ row.current_price }}</td>
                            <td>{{ row.entry_price }}</td>
                            <td>{{ row.entry_amount }}</td>
                            <td>{{ row.date|date:"SHORT_DATE_FORMAT" }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}