{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- PageTitle -->
    <section class="page-title">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="heading">Wallet</h3>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><p class="fs-18">/</p></li>
                <li><p class="fs-18">Refer a Friend</p></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End PageTitle -->
<section class="wallet sell amount buy-crypto flat-tabs">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-12">
          <ul class="menu-tab">
            <li><h6 class="fs-16"><a href="{% url 'holdings' %}">Overview</a></h6></li>
            <li class="active"><h6 class="fs-16"><a href="{% url 'referral' %}">Refer a friend</a></h6></li>
            <li><h6 class="fs-16"><a href="{% url 'previous-holdings' %}">Previous Trades</a></h6></li>
            <li><h6 class="fs-16"><a href="{% url 'logout' %}"> Logout </a></h6></li>
          </ul>
        </div>
        <div class="col-xl-9 col-md-12">
          <div class="content-tab">
            <div class="content-inner">

              <div class="main">
                <h6>Copy the code!</h6>

                <form action="https://themesflat.co/html/rockie/sell-crypto-confirm.html" class="form">
                  <div class="form-field">
                    <label></label>
                    <input type="text" class="dollar" value="{{ referral_link }}" />
                  </div>

                  <button type="submit" class="btn-action">Copy</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}