<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto Manager</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <!-- End Style CSS -->

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/favicon.png' %}" />
  </head>
  <body class="body header-fixed home-3">
    {% include 'includes/navbar.html' %}
        {% block content %}

        {% endblock %}
    {% include 'includes/footer.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/switchmode.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  </body>
