{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- Banner Top -->
    <section class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="banner__content">
                <h2 class="title">Learn, buy & sell crypto easily</h2>
                <p class="fs-20 desc">
                   is the easiest place to buy and sell cryptocurrency. Sign
                  up and get started today.
                </p>
                <a href="#start" class="btn-action"><span>Start trading</span></a>
              </div>
              <div class="banner__image">
                <img src="{% static 'images/banner-03.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Banner Top -->

{% endif %}
{% endblock %}